
.title-card {
    position: relative;
    background-image: url('images/emergency_plumbing_cropped.jpg');
    height : 715px;
}

.banner {
    background-color: #101010B2;
    height : 94px;
    width : 100%;
}

.title-words-big{
    display: grid;
    position:absolute;
    bottom: 0;
    height : 566px;
    width : 100%;
}

.title-words-small{
    display: flex;
    height : 282px;
    width : 1312px;
    margin: auto;
}

.our-services {
    background-color: #1E1E1E;
    height : 819px;
}

.why-us {
    background-color: #F7F7F7;
    height : 563px;
}

.our-reviews {
    background-color: #1E1E1E;
    height : 869px;
}

.service-areas {
    background-color: #F7F7F7;
    height : 1286px;
}

.tail-card {
    background-image: url('images/plumber_at_sink.jpg');
    height : 717px;
}


body {
      margin : 0;
      padding : 0;
  }